<%= form_for @post do |f| %>
    <div class="row">
	<div class="input-field col s12 m12 l8">
		<%= f.text_area :content, :id=>"textarea1",:class=>"materialize-textarea" %>
    <label for="textarea1">Content</label>
  </div>
    </div>

    <div class="row">
      <%= button_tag(type: 'submit', class: "btn-floating btn-small waves-effect waves-light teal") do %>
          <i class="small material-icons">mode_edit</i>
      <% end %>
    </div>
<% end %>